* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #272b35;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p{
    margin-top: 40px;
}

.circulo {
    border: solid 2px #f61067;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

p{
    font-size: 22px;
    color: #962557;
}

.botoes{
    display: flex;
    margin-top: 10px;
}

.filha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

button{
    margin-right: 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #962557;
    border: none;
    color: white;
    cursor: pointer;
}