*{
    padding: 0;
    box-sizing: border-box;
}

.mae{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.filha{
    background-color: white;
    padding: 50px;
}