*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: black;
}
.mae {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.linha {
    display: flex;
    
}

.filha {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px; 
    border-radius: 20px;
    background-color: white;
}


button{
    border-radius: 10px;
    padding: 5px;
    margin-top: 3px;
    background-color: #4B0082;
    color: white;
    border: none;
}

button:hover{
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: #4B0082;
    border: 1px solid #4B0082;
}


label.checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}